/* holds all the fonts locally to reduce load times */
@font-face {
    font-family: 'Playfair Display';
    src: url('../fonts/PlayfairDisplay-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Great Vibes';
    src: url('../fonts/GreatVibes-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Monte';
    src: url('../fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
}